dimod==0.12.21
dwave-optimization==0.6.9
dwave-system==1.34.0

numpy==2.4.1; python_version >= '3.14'
numpy==2.2.6; python_version < '3.14'
scikit-learn==1.8.0; python_version >= '3.14'
scikit-learn==1.6.1; python_version < '3.14'

reno==3.5.0
